html {
    background-color: #F7F5FB;
}

main {
    
    background-color: #F7F5FB
}

h3 {
    padding-top: 3em;
    text-align: center;
    margin:0;
    width:100%;
    
}

h2 {
    padding-top: 1em;
    text-align: center;
}

h4 {
    padding-top: 1em;
    text-align: center;
    padding-bottom: 2.5em;
}

button.home{
    float: right;
    background-color: white;
    border-color: white;
    padding-right: 1em;
}

button.time {
    display: block;
    font-weight: bold;
    margin: 3em auto 2em auto;
    padding-left: 20px;
    padding-right: 20px;
}

.savecancel {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5em;
}

button.cancel {
    float: left;
    width: 100px;
    background-color:#86A5D9;
}

button.save {
    float: right;
    width: 100px;
    background-color:#86A5D9;
}

div.switch {
    display:block;
    width: 100px;
    margin: 3em auto 2em auto;
    font-weight: bold;
    color:blue;
}

.number-pad {
    margin-top: 2em;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    width:100%;
    padding-left: 9%; 
}

/**** this is the CSS for reminer-home.html *****/

body {
    height: 145%;
}

.time {
    min-height: 38px;
    width:40%;
    padding-left: 25%;
    justify-self: center;
    margin:0;
      
}
.time-scroll {
    
    width:90%;
    padding-left: 25%;
    justify-self: center;
    margin:0;
      
}

.time-time {
    width: 75%;
    height: 75%;
    font-size: 14pt;
    font-weight: bold;
    padding: 10%;
    margin: 0;
    border-color:cornflowerblue;
    border-width: medium;
    border-radius: 20%;
}

p { 
    text-align:left;
    font-weight: bold;
}


button.number {
    width: 80%;
    margin-bottom: 6%;
}

button.back{
    background-color: white;
    border-color:blue;
    width: 45%; 
    
}


/* .am-pm {
    padding-top: 4%;
    padding-right: 34%;
    padding-left: 33%;
    justify-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    
}

.am-pm button{
    width: 80%;     
} */

/**** this is the CSS for reminer-day.html *****/

.sun-container {
    
    display:grid;
    grid-template-columns: 33% 33% 33%;
    width:100%;
    padding-left: 9%;
}

#sun {
    width: 80%;
}

button.days {
    width: 80%;
    margin-bottom: 25%;
}

button.days.selected {
    background-color: rgb(61, 61, 228);
    color: white;
}

button.days.unselected {
    background-color: white;
    color: #0d6efd;
}

button.days:hover {
    background-color: #0d6efd;
    color: white;
}

.red {
    color: rgba(255, 0, 0, 0.76);
}

.gray {
    color: rgba(65, 61, 61, 0.363);
}

.black{
    color: black;
}

/**** this is the CSS for reminer-time.html *****/

.number-scroll {
    margin-top: 2em;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    width:100%;
    justify-items: center; 
}

.number-scroll input {
    border-color: #0d6efd;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


