body {
    
    background-color: #F7F5FB !important;
}

h3 {
    padding-top: 3em;
    text-align: center;
    margin:0;
    width:100%;
    
}

h2 {
    padding-top: 1em;
    text-align: center;
}

h4 {
    padding-top: 1em;
    text-align: center;
    padding-bottom: 2.5em;
}

.savecancel {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5em;;
}

button.cancel {
    float: left;
    width: 100px;
}

button.save {
    float: right;
    width: 100px;
}

/**** this is the CSS for reminer-home.html *****/

p { 
    text-align:left;
    font-weight: bold;
}


/**** this is the CSS for reminer-time.html *****/

.number-scroll {
    margin-top: 2em;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    width:100%;
    justify-items: center; 
}

.number-scroll input {
    border-color: #0d6efd;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


